<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.unsavedukeleledocument</string>
	<key>CFBundleName</key>
	<string>Kasner 2026 Mac Keyboard Layouts</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_Kasner En</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unsavedukeleledocument.kasneren</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Kasner Ru</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unsavedukeleledocument.kasnerru</string>
		<key>TISIntendedLanguage</key>
		<string>ru</string>
	</dict>
	<key>KLInfo_Kasner Uk</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.unsavedukeleledocument.kasneruk</string>
		<key>TISIntendedLanguage</key>
		<string>uk</string>
	</dict>
</dict>
</plist>
